{% extends "pdf-base.html" %}
		{% block content %}
                    <h1>Indicador: Sistemas Agroforestales</h1>
<br>
                    Numeros de encuestas: {{ encuestas }}
                    <table border=1>
                    <caption>Tabla de Cultivos Agroforestales</caption>
                    <thead>
                        <tr>
                            <th>
                                Sistemas Agroforestal
                            </th>
                            <th>
                                #
                            </th>
                            <th>
                                %
                            </th>
                            <th>
                                Área en desarrollo en mz
                            </th>
                            <th>
                                Área en producción
                            </th>
                            <th>
                                Manejo malo
                            </th>
                            <th>
                                Manejo Regular
                            </th>
                            <th>
                                Manejo Bueno
                            </th>
                        </tr>

                     </thead>
			{%for item in data%}
			<tr>
		            {% for cosito in item%}
                            <td>
                                {{cosito}}
                            </td>
			     {%endfor%}                           
                        </tr>
			{%endfor%}

			<tr>
			    <td>
                                <b>Total</b>
                            </td>

			    {% for valor in totals%}
                            <td>
                                <b>{{valor}}</b>
                            </td>
			    {%endfor%}
			</tr>
			<tr>
		            <td></td><td></td><td></td>
			    <td colspan=2>
                                {{super_total}}
                            </td>
			    {% for porcentaje in porcentajes%}
                            <td>
                                {{porcentaje|floatformat:2}} %
                            </td>
			    {%endfor%}
			</tr>
                    </table>     
        {% endblock %}
