<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Hoja spss para Educacion {% endblock %}</title>
</head>
		{% block content %}
<table border=1>
	<caption>Tabla completa de Seguridad Alimentaria</caption>
<tr>
    <th>Comunidad</th>
    <th>Nombre productor</th>
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- para la segunda opcion inline -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- tercera -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- cuarta -->
   <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- quinta -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- sexta -->
   <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- septima -->
   <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- octava -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
    <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
     <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
      <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
     <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
     <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
     <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>
     <!-- otro -->
    <th>Alimentos</th>
    <th>Producen</th>
    <th>Compran</th>
    <th>Nivel de consumo suficiente</th>    
    
</tr>
		{% for fila in data %}
		<tr>
			{% for cosito in fila %}
				<td>{{ cosito }} </td>
            {% endfor %}
		</tr>
		{% endfor %}
</table>

{% endblock %}
</body>
</html>
